<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>О нас</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <nav th:insert="blocks/nav :: nav"></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container">
                <h3 class="mb-3 text-center">О нас</h3>

                <div class="row mb-3">
                    <div class="col">
                        <p class="fs-4 text-break" align="justify">
                            Добро пожаловать в OnlineTrading, вашего надежного партнера. Наша миссия — предоставлять инновационные и прозрачные торговые решения для трейдеров всех уровней. Мы верим, что успешная торговля начинается с глубокого понимания рынка и доступа к правильным инструментам, и именно это мы стремимся предложить каждому нашему клиенту.
                        </p>
                        <p class="fs-4 text-break" align="justify">
                            Мы верим, что успех в трейдинге — это не просто везение, а результат тщательного анализа, правильной стратегии и способности адаптироваться к постоянно меняющимся рыночным условиям. Наша цель — не только предоставить вам инструменты и знания для достижения успеха, но и вдохновить вас на постоянное самосовершенствование в мире финансов.
                        </p>
                    </div>
                    <div class="col">
                        <iframe allowfullscreen="" frameborder="0" loading="lazy"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGz6HJDVY9fht_jGVCprEpRCwZ8PSsqhc&amp;q=Minsk&amp;zoom=11"
                                width="100%" height="400"
                                style="box-shadow: 0px 0px 6px;border-radius: 5px;border: 1px solid rgb(255,255,255);width: 100%;margin-top: 15px;height: 500px;"></iframe>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>